* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  color: white;
  background: #65bf68;
}

#map {
  height: 100%;
  width: 100%;
  min-height: 50vh;
}

.location {
  background: #209cee;
  padding: 20px;
  margin: 0 20px;
  text-align: center;
}

.availability {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 10px auto;
}

.availability-info {
  display: flex;
  flex-direction: column;
}

.count {
  font-size: 3rem;
}

.red {
  color: red;
}

.green {
  color: lime;
}

@media screen and (min-width: 600px) {
  main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
  #map {
    height: 90vh;
  }
}